################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GUI/GUI/bin/Debug/netcoreapp3.1/Output
